*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section{
    padding: 2rem 9%;

}
.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);

}

.heading span{
    color: var(--pink);
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background: var(--pink);
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #edede5;
    padding: 2rem 9%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
}

 header .logo{
    font-size:3rem;
    color: #333;
    font-weight: bolder;
 }

header .logo span{
    color: var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #1815ee;
    
}

header .navbar a:hover{
    color: rgb(15, 15, 14);
}

header .icons a{
    font-size: 3rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}

#container-slider
{
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
}
#slider {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}
#slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2; 
}
#container-slider .arrowNext {
    left: initial;
    right: 50px !important;
}
.content_slider{
    padding: 15px 30px;
    color: #FFF;
    width: 100%;
    height: 100%;
}
.content_slider div{
    text-align: center;
}
.content_slider h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content_slider p {
    font-size: 15pt;
    font-family: 'arial';
    color: #FFF;
    margin-bottom: 20px;
}
#slider li .content_slider{
    background: rgba(0, 0, 0, 0.50);
    padding: 10px 125px;
}
.content_slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSlider{
    color: #FFF;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #3c5bf6;
    background: rgba(40, 44, 249, 0.55);
    border-radius: 31px;
    text-decoration: none;
    transition: .5s all;
}
.btnSlider:hover{
    background: #e1ec21;
    border: 1px solid #111;
}
.listslider {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 2;
    transform: translateX(-50%);
}
.listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a {
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid {
    background: #FFF  !important;
}

@media screen and (max-width: 460px){
	.content_slider h2 {
	    font-size: 15pt !important;
	}
	.content_slider p {
	    font-size: 12pt !important;
	}
	#container-slider .arrowPrev, #container-slider .arrowNext{
		font-size: 20pt;
	}
	#container-slider .arrowPrev{
		left: 15px;
	}
	#container-slider .arrowNext{
		right: 15px !important;
	}
	#slider{
		height: 400px;
		min-height: 400px;
	}
	#slider li .content_slider{
		padding: 10px 35px;
	}
	.btnSlider{
		padding: 10px 30px;
    	font-size: 10pt;
	}

}
@media (max-width:991px){
    
    html{
        font-size: 55%
    }
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
    .home{
        background-position: center;
    }
    
    }
    
    @media (max-width:768px){
        html .fa-bars{
            display: block;
        }
        header .navbar{
            position: absolute;
            top: 100%; left: 0; right: 0;
            background: #eee;
            border-top: .1rem solid rgba(0,0,0,.1);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
    
        header #toggler:checked ~ .navbar{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);;
        }
        header .navbar a{
            margin: 1.5rem;
            padding: 1.5rem;
            background: #fff;
            border: .1rem solid rgb(0, 0, 0, .1);
            display: block;
        }
        .home.content h3{
            font-size: 5rem;
    
        }
        .home.content span{
            font-size: 2.5rem;
            
        }
        .icons-container .icons h3{
            
            font-size: 2rem;
        }
        
        
        .icons-container .icons span{
            font-size: 1.7rem;
        }
    }
    
    
    @media (max-width:450px){
        
        html{
            font-size: 50%
        }
        .heading{
            font-size: 3rem;
        }
    

    }

/*SOBRE NOSOTROS*/

.nosotros {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
}

.nosotros-img {
    flex: 1;
}

.nosotros-img img {
    width: 100%;
    border-radius: 10px;
    padding-left: 5%;
}

.nosotros-info {
    flex: 1;
    padding: 0 50px;
}

.nosotros-info h2 {
    font-size: 55px;
    
}

.nosotros-info p {
    font-size: 18px;
    line-height: 1.6;
    color: #020202;
    margin-bottom: 30px;
}

.nosotros-info button {
    background: #212cab;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;

}



/*FILOSOFIA*/

.course {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
    
}

h1 {
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: #121111;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px) {
    .row{
        flex-direction: column;
    }
}



/*SERVICIOS*/


.facilities {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
   
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
    color: #020202;
   
}


.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15%;
    text-align: left;
}




/*Footer */

main{
    width: 100%;
  }

  :root{
    --primary-color: #fff;
    --secondary-color: #000;
  }

  .dark_mode{
    --primary-color: #000;
    --secondary-color: #fff;
  }

  footer{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0 0;
    transition: background 0.3s linear;
  }

  .container{
    max-width: 1240px;
    padding: 30px 40px;
    margin: auto;
  }

  .content_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .profil .logo_area{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .profil .logo_area img{
    border-radius: 50%;
    border: 1px solid var(--primary-color);
  }

  .logo_area .logo_name{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem;
    color: var(--secondary-color);
  }

  .desc_area{
    max-width: 320px;
    margin-bottom: 1.25rem;
  }

  .desc_area p{
    color: #090909;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }

  .social_media a{
    color: #FFC0CB;
    margin-right: 22px;
    font-size: 24px;
  }

  .social_media a:hover{
    color: #313131;
  }

  .service_area{
    display: flex;
  }

  .service_header{
    margin-right: 40px;
  }

  li.service_name{
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 600;
  }

  .service_header li a{
    color: #828282;
    font-size: 17px;
    padding-bottom: 1px;
    font-weight: 400;
  }

  .service_header li a:hover{
    color: #313131;
  }

  .service_header li {
    margin-bottom: 10px;
  }

  hr{
    height: 1px;
    border: none;
    background-color: #828282;
    margin-bottom: 1rem;
  }

  .footer_buttom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
  }

  .copy_right{
    color: #828282;
    display: flex;
    align-items: center;
  }

  .copy_right span{
    margin-left: 8px;
    font-weight: 400;
    letter-spacing: 0.135rem;
  }

  .tou a{
    color: #828282;
    margin-left: 1.5rem;
  }

  .tou a:hover{
    color: #313131;
  }

  .service_area h1{
    font-size: 30px;
    margin-right: 100px;

  }
  


  @media screen and(max-width: 768px){
    .content_footer{
      flex-wrap: wrap;
      justify-content: 40px;
    }
    .service_area{
      flex-wrap: wrap;
      justify-content: left;
    }
    .service_header{
      margin-left: 0;
      margin-right: 40px;
    }
    .social_media{
      margin-bottom: 1rem;
    }
    .footer_buttom{
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @media screen and (max-width: 510px){
    .service_header{
      margin-bottom: 8px;
    }
    .copy_right{
      margin-bottom: 8px;
    }
  }

    